<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Mission - Tech Innovators</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="mission.html">Mission</a></li>
        <li><a href="vision.html">Vision</a></li>
      </ul>
    </nav>
  </header>

  <section class="mission">
    <h1>Our Mission</h1>
    <p>Our mission is to drive technological advancements through innovative solutions that simplify the way businesses operate, empowering them to achieve their goals with ease.</p>
  </section>

  <footer>
    <p>&copy; 2024 Tech Innovators. All Rights Reserved.</p>
  </footer>
</body>
</html>